


<div class="container">
 <div class="row">
  <form action='/results' method="POST">
  <!---Vegetables--->



      <div class="btn-group">

        <button type="button" class="btn btn-success btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-heart-empty"></span>Vegetables<span class="caret"></span></button>

          <ul class="dropdown-menu">

            <% @ingredients[:vegetables].each do |item|%>

            <li><input type="checkbox" name="vegetable" value="<%=item%>"><%=item%></li>

            <%end%>

          </ul>

  

 </div>
<!--- Fruit--->
  

      <div class="btn-group">

        <button type="button" class="btn btn-success btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-heart-empty"></span>Fruit<span class="caret"></span></button>

          <ul class="dropdown-menu">

            <% @ingredients[:fruit].each do |item|%>

            <li><input type="checkbox" name="fruit" value="<%=item%>"/><%=item%></li>

            <%end%>

          </ul>

   

 </div>
<!--- Meat, Poultry, and Eggs--->


      <div class="btn-group">

        <button type="button" class="btn btn-success btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-heart-empty"></span>Meat, Poultry and Eggs<span class="caret"></span></button>

          <ul class="dropdown-menu">

            <% @ingredients[:meat_poultry_eggs].each do |item|%>

            <li><input type="checkbox" name="meat_poultry_eggs" value="<%=item%>"/><%=item%></li>

            <%end%>

          </ul>

  

 </div>
<!---Herbs And Spices--->
 

      <div class="btn-group">

        <button type="button" class="btn btn-success btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-heart-empty"></span>Herbs and Spices<span class="caret"></span></button>

          <ul class="dropdown-menu">

            <% @ingredients[:herbs_and_spices].each do |item|%>

            <li><input type="checkbox" name="herbs_and_spices" value="<%=item%>"/><%=item%></li>

            <%end%>

          </ul>

     </div>

<!---Grains--->
  

      <div class="btn-group">

        <button type="button" class="btn btn-success btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-heart-empty"></span>Grains<span class="caret"></span></button>

          <ul class="dropdown-menu">

            <% @ingredients[:grains].each do |item|%>

            <li><input type="checkbox" name="grains" value="<%=item%>"/><%=item%></li>

            <%end%>

          </ul>

    

 </div>
<!---Sea Food--->
  

      <div class="btn-group">

       <button type="button" class="btn btn-success btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-heart-empty"></span>Seafood<span class="caret"></span></button>

          <ul class="dropdown-menu">

            <% @ingredients[:seafood].each do |item|%>

            <li><input type="checkbox" name="seafood" value="<%=item%>"/><%=item%></li>

            <%end%>

          </ul>

 </div>
<!---Nuts And Beans --->

      <div class="btn-group">

        <button type="button" class="btn btn-success btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-heart-empty"></span>Nuts and beans<span class="caret"></span></button>

          <ul class="dropdown-menu">

            <% @ingredients[:nuts_and_beans].each do |item|%>

           <li><input type="checkbox" name="nuts_and_beans" value="<%=item%>"/><%=item%></li>

            <%end%>

          </ul>

    

 </div>
<!---Oils And Condiments--->
 

      <div class="btn-group">

        <button type="button" class="btn btn-success btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-heart-empty"></span>Oils and Condiments<span class="caret"></span></button>

          <ul class="dropdown-menu">

            <% @ingredients[:oils_and_condiments].each do |item|%>

            <li><input type="checkbox" name="oils_and_condiments" value="<%=item%>"/><%=item%></li>
            <%end%>

          </ul>

    

 </div>
<!---Dairy--->
  

      <div class="btn-group">

        <button type="button" class="btn btn-success btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-heart-empty"></span>Dairy<span class="caret"></span></button>

          <ul class="dropdown-menu">

            <% @ingredients[:dairy].each do |item|%>

            <li><input type="checkbox" name="dairy" value="<%=item%>"/><%=item%></li>

            <%end%>

          </ul>

 
 </div>
 
       <button type='Submit' class="btn btn-success btn-block">Submit</button>
      </form>
</div>
    </div>
