<%if @final_recipes["matches"].empty?%>
    <center><p>None of our recipes contain your combination of ingredients. Please try again.</p></center>
<%else%>
  <%@final_recipes["matches"].each do |recipe|%>
  <div class="well well-lg">
  <center>
    
    <h1><%= recipe["recipeName"]%></h1>
    <%if recipe["imageUrlsBySize"] != nil%>
    <img src="<%=recipe["imageUrlsBySize"]["90"]%>" alt="A Viable Recipe">
    <%end%>
    <h3>Rating: <%= recipe["rating"]%></h3>
    <h3>totalTimeInSeconds: <%= recipe["rating"]%></h3>
    <h3>Ingredients: </h3>
    <% recipe["ingredients"].each do |ingredient| %>
    <p><%=ingredient%>, <p>
    <% end %>
  </center>
  </div>
  <% end %>
<%end%>

                                                               
            